/*===================Header====================*/
body{
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    height:100vh;
}

#header{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
    }


.pro {
    text-align: center;
    font-size: 90%;
    font-weight: bold;
    margin: 10px;
}
.Phone {
    text-align: center;
    font-size: 80%;
    font-weight: bold;
    margin: 10px;
}
/*===================Main====================*/
#main{
    display: flex;
    justify-content: space-around;
    padding: 35px;
    height: 400px;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(logo.jpg);
    background-size: 100% 100%;
    }
    .van {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        font-size: 150%;
        font-weight:600;
        color: white;
        margin-top: auto;
        margin-bottom: auto;
     
    }
     .para1{
        text-align: left;
        
        font-size: 60%;
         color: white;
     }
    .para11{
        text-align: center;
        font-size: 60%;
         color: white;
         padding-left: 15px;
         padding-right: 15px;
        
    }
    #form{
       
        margin-top: auto;
        margin-bottom: auto;
        background-color:rgba(20, 20, 20, 0.6);
        transform: scale(1.5);   
       
        
    }
    form{

        display: flex;
        flex-direction: column;
        padding: 15px;
    }
    .para2{
        text-align: center;
        font-size: 130%;
         color: white;
         font-weight:600;
         margin-left: 10px;
        
    }
    
   
    
    .name{
      
     
       
        border-radius: 3px;
        padding: 5px;
        outline: none;
       
    }
    .submit{
       
        
       
        margin-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-color: lime;
        border-radius: 3px;
        background-color: lime;
        color: whitesmoke;
        font-weight: bold;
        align-content: center;
    }
    /*===================Main 2====================*/
    
    #main2 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 40px;

    }
    .submain img{
        margin-left: 40px;
        border-radius: 50%;
        height: 100px;
        width:100px;
       
    }
    .para21{
        font-size: 100%;
        color: black;
        font-weight: bold;
        text-align: center;
    }
    .para22{
        font-size: 80%;
        color: black;
     
        text-align: center;
    }
/*===================Feedback====================*/
   #feedback{
        
        padding: 40px;
        background-color: antiquewhite;
    }
    .head{
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 200%;
        text-align: center;
      
    }
    #flexbox{ 
        display: flex;
        justify-content: space-evenly;
        margin-top: 40px;
        margin-bottom: 0px;
        

    }

    .content img{
        margin-left: 75px;
        border-width: 50px;
        border-color: white;
        border-radius: 50%;
        height: 80px;
        width:80px;
       
    }
  .content .para21{

        font-size: 70%;
        color: black;
        font-weight: lighter;
        text-align: center;
        
  }
  .para23{
    font-size: 70%;
    
    color: black;
    font-weight: lighter;
    text-align: center;
}
.content .para22{
        font-size: 90%;
        color: black;
        font-style: italic;
        font-weight: 500px;
        text-align: center;
}
.star-section{
    display: flex;
    justify-content: space-evenly;
}
.star, .hidden-star{
    color: gold;
    text-align: center;
    font-size: large;
    margin-left: 10px;
}
.hidden-star{
    display: none;
}
.line{
    background-color: rgb(156, 145, 145);
    height:2px;

}
#footer{
    
    background-color: black;
    color: white;
    font-size: 80%;
     
    padding: 15px;
    padding-left: 320px;
}
/*===================Responsiveness====================*/
/*===================Media queries for 850px====================*/

@media only screen and (max-width:850px) {
    body{
       max-width: 850px;
    }
 
    #main{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        height: fit-content;
        
    }
    .van {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
                   
          }
    .vann {
        text-align: left;
        font-size: 120%;
        font-weight:600;
        
      

    }
   .van .para1{
       
        font-size: 60%;
        line-height: 1.5;
        color: white;
        padding-left: 0px;
        font-weight: 400px;
    }
    #form{
       
        margin: 10px;
        text-align: center;
        transform: scale(1.0);   
    }
    #form .para1{
        text-align: center; 
    }
    .para2{
        text-align: center;
        font-size: 120%;
        font-weight: bold;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         font-weight:600;
         margin-left: 5px;
    }
    .para11{
        font-size: 90%;
    }
    form{

        display: flex;
        flex-direction: column;
        padding: 5px;
        }
    
        
    .name{
           
        font-size: 110%;
    }
    .submit{
        
        font-size: 110%;
       padding-left: 5px;
       font-weight: 600px;
    }
 /*===================Main 2====================*/
 #main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: fit-content;
 }
 .submain{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.submain img{
    height: 80px;
    width:80px;
    margin-left: 0px;
   
}
.para21{
    font-size: 100%;
    color: black;
    font-weight: 400px;
    text-align: center;
}
.para22{
    font-size: 80%;
    color: black;
    text-align: center;
}
/*===================Feedback====================*/
#feedback{
        
    padding: 40px;
    background-color: antiquewhite;
}
.head{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    text-align: center;
  
}
#flexbox{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin-top: 40px;
    margin-bottom: 0px;
    

}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.content img{
    margin-left: 0px;
    border-width: 50px;
    border-color: white;
    border-radius: 50%;
    height: 90px;
    width:90px;
   
}
.content .para21{

    font-size: 90%;
    color: black;
    font-weight: lighter;
    text-align: center;
    
}
.para23{
font-size: 80%;

color: black;
font-weight: lighter;
text-align: center;
}
.content .para22{
    font-size: 100%;
    color: black;
    font-style: italic;
    font-weight: 500px;
    text-align: center;
}
.line{
    background-color: rgb(156, 145, 145);
    width:100%;

}

.star, .hidden-star{
color: gold;
text-align: center;
font-size: large;
margin-top: 0px;
margin-bottom: 10px;
}
.hidden-star{
    display: none;
}
.line{
background-color: rgb(156, 145, 145);
height:2px;

}
#footer{

font-size: 80%;
text-align: center;
padding: 6px;

}
.hidden-star{
    display: block;
}
.star-section{
    display: none;
}
}


/*===================Media queries for 400px====================*/
@media only screen and (max-width:450px) {
    body{
        max-width: 850px;
     }
 
    .pro {
        text-align: center;
        font-size: 70%;
        font-weight: bold;
        margin: 10px;
    }
    .Phone {
        text-align: center;
        font-size: 60%;
        font-weight: bold;
        margin: 10px;
    }
    #main{
      
        align-items: center;
        padding: 10px;
        
        
    }
    .van {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
                   
          }
    .vann {
        text-align: left;
        font-size: 80%;
        font-weight:600;
        
      

    }
   .van .para1{
       
        font-size: 50%;
        line-height: 1.5;
        color: white;
        padding-left: 0px;
        line-height: 1.5;
    }
    #form{
       
        margin: 10px;
        text-align: center;
        transform: scale(0.7);   
    }
    #form .para1{
        text-align: center; 
    }
    .para2{
        text-align: center;
        font-size: 80%;
         font-weight:400;
         margin-left: 5px;
    }
    .para11{
        font-size: 70%;
    }
    form{

        display: flex;
        flex-direction: column;
        padding: 5px;
        }
    
        
    .name{
           
        font-size: 80%;
    }
    .submit{
        
        font-size: 90%;
       padding-left: 0px;
       font-weight: lighter;
    }
 /*===================Main 2====================*/
 #main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: fit-content;
 }
 .submain{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.submain img{
    height: 50px;
    width:50px;
    margin-left: 0px;
   
}
.para21{
    font-size: 80%;
    color: black;
    font-weight: 400px;
    text-align: center;
}
.para22{
    font-size: 70%;
    color: black;
    text-align: center;
}
/*===================Feedback====================*/
#feedback{
        
    padding: 40px;
    background-color: antiquewhite;
}
.head{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    text-align: center;
  
}
#flexbox{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin-top: 40px;
    margin-bottom: 0px;
    

}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.content img{
    margin-left: 0px;
    border-width: 50px;
    border-color: white;
    border-radius: 50%;
    height: 60px;
    width:60px;
   
}
.content .para21{

    font-size: 60%;
    color: black;
    font-weight: lighter;
    text-align: center;
    
}
.para23{
font-size: 50%;

color: black;
font-weight: lighter;
text-align: center;
}
.content .para22{
    font-size: 70%;
    color: black;
    font-style: italic;
    font-weight: 500px;
    text-align: center;
}
.line{
    background-color: rgb(156, 145, 145);
    width:100%;

}

.star{
color: gold;
text-align: center;
font-size: large;
margin-top: 0px;
margin-bottom: 10px;
}
.line{
background-color: rgb(156, 145, 145);
height:2px;

}
#footer{

font-size: 50%;
text-align: center;
padding: 6px;



}
}
   
   
   
   
   
   








 
   

