/*===================Header====================*/
body{
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
}

#header{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
    }


.pro {
    text-align: center;
    font-size: 90%;
    font-weight: bold;
    margin: 10px;
}
.Phone {
    text-align: center;
    font-size: 80%;
    font-weight: bold;
    margin: 10px;
}
/*===================Main====================*/
#main{
    display: flex;
    justify-content: space-evenly;
    padding: 35px;
    height: 400px;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(logo.jpg);
    background-repeat: no-repeat;
    }
    .van {
        text-align: left;
        font-size: 150%;
        font-weight:600;
        color: white;
        margin-top: auto;
        margin-bottom: auto;
    }
    .van .para1{
        text-align: left;
    }
    .para1{
        text-align: center;
        font-size: 60%;
         color: white;
        
    }
    #form{
        margin-top: auto;
        margin-bottom: auto;
        background-color:rgba(20, 20, 20, 0.6);
        transform: scale(1.5);   
    }
    .para2{
        text-align: center;
        font-size: 130%;
         color: white;
         font-weight:600;
         margin-left: 10px;
        
    }
    input{
        border: 0px;
    }
   
    
    .name{
        width: 210px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 3px;
        padding: 5px;
        outline: none;
       
    }
    .submit{
        width: 225px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 5px;
        margin-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-color: lime;
        border-radius: 3px;
        background-color: lime;
        color: whitesmoke;
        font-weight: bold;
        align-content: center;
    }
    /*===================Main 2====================*/
    
    #main2 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 40px;

    }
    .submain img{
        margin-left: 40px;
        border-radius: 50%;
        height: 100px;
        width:100px;
       
    }
    .para21{
        font-size: 100%;
        color: black;
        font-weight: bold;
        text-align: center;
    }
    .para22{
        font-size: 80%;
        color: black;
     
        text-align: center;
    }
/*===================Feedback====================*/
   #feedback{
        
        padding: 40px;
        background-color: antiquewhite;
    }
    .head{
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 200%;
        text-align: center;
      
    }
    #flexbox{ 
        display: flex;
        justify-content: space-evenly;
        margin-top: 40px;
        margin-bottom: 0px;
        

    }

    .content img{
        margin-left: 75px;
        border-width: 50px;
        border-color: white;
        border-radius: 50%;
        height: 80px;
        width:80px;
       
    }
  .content .para21{

        font-size: 70%;
        color: black;
        font-weight: lighter;
        text-align: center;
        
  }
  .para23{
    font-size: 70%;
    
    color: black;
    font-weight: lighter;
    text-align: center;
}
.content .para22{
        font-size: 90%;
        color: black;
        font-style: italic;
        font-weight: 500px;
        text-align: center;
}
.stard{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
    
.star{
    color: gold;
    text-align: left;
    font-size: large;
}
.line{
    background-color: rgb(156, 145, 145);
    height:2px;

}
#footer{
    
    background-color: black;
    color: white;
    font-size: 80%;
     
    padding: 15px;
    padding-left: 320px;
}
/*===================Responsiveness====================*/
@media (max-width:600px) {
    #main{
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
        height: 200px;
        background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(logo.jpg);
        background-size: cover;
        }
    .van {
        text-align: left;
        font-size: 100%;
        font-weight:600;
        color: white;
        margin-top: auto;
        margin-bottom: auto;
    }
    .van .para1{
        text-align: left;
    }
    .para1{
        text-align: center;
        font-size: 50%;
         color: white;
        
    }
   
    #form{
        margin-top: auto;
        margin-bottom: auto;
        background-color:rgba(20, 20, 20, 0.6);
        transform: scale(0.8);   
    }
    #main2 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 40px;

    }
    .submain img{
        margin-left: 40px;
        border-radius: 50%;
        height: 50px;
        width:50px;
       
    }
    .para21{
        font-size: 60%;
        color: black;
        font-weight: 400px;
        text-align: center;
    }
    .para22{
        font-size: 50%;
        color: black;
     
        text-align: center;
    }


.content img{
    margin-left: 75px;
    border-width: 50px;
    border-color: white;
    border-radius: 50%;
    height: 40px;
    width:40px;
   
}
.para23{
    font-size: 30%;
    
    color: black;
    font-weight: lighter;
    text-align: center;
}
.content .para22{
        font-size: 70%;
        color: black;
        font-style: italic;
        font-weight: 500px;
        text-align: center;
}
.content .para21{

    font-size: 30%;
    color: black;
    font-weight: lighter;
    text-align: center;
    
}
.star{
    color: gold;
    text-align: center;
    font-size: 70%;
}
#footer{
    
    background-color: black;
    color: white;
    font-size: 60%;
     padding: 10px;
    
}
.head{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    text-align: center;
  
}
}